################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Zebra-OEMInfo-DeviceIdentifiers-Android-Xamarin/.vs/Zebra-OEMInfo-DeviceIdentifiers-Android-Xamarin/v16
/Zebra-OEMInfo-DeviceIdentifiers-Android-Xamarin/Zebra-OEMInfo-DeviceIdentifiers-Android-Xamarin/obj
/ZebraOEMInfoXamarinAndroid/.vs/ZebraOEMInfoXamarinAndroid/v16
/ZebraOEMInfoXamarinAndroid/ZebraOEMInfoXamarinAndroid/bin/Debug
/ZebraOEMInfoXamarinAndroid/ZebraOEMInfoXamarinAndroid/obj
